@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #f7f7f7;
}

.header {
  font-size: 20px;
  padding-left: 250px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.hamburger {
  padding-right: 50px;
}

.sidebar {
  background: #1b1c1e;
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.profile {
  margin-bottom: 30px;
  text-align: center;
}

.profile-img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile h3 {
  color: #ffffff;
  margin: 10px 0 5px;
}

.profile p {
  color: #ffffff;
  font-size: 14px;
}

.item {
  display: block;
  padding: 13px 30px 10px;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.item-active {
  display: block;
  padding: 13px 30px 10px;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
  background:white;
}

.item-title {
  margin-left: 30px;
}

.icon-wrapper {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.item-icon {
  color: #dee4ec;
  width: 30px;
}

.item-icon-active {
  color: #dee4ec;
  width: 30px;
}

.item:hover {
  color: #0c7db1;
  background:white;
}

.item-icon:hover {
  color: #0c7db1;
}

.item:hover:before {
  display: block;
}

.item-active:before {
  display: block;
}

.item-title-active {
  margin: 30px;
  color: #1b1c1e;
}

.hamburger:hover {
  cursor: pointer;
}

.medium-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 270px;
  margin-top: 20px;
  width: 750px;
  background: #ffffff;
  height: 320px;
  border-radius: 30px;
}

.card-icon {
  padding-top: 20px;
  padding-left: 30px;
}

.card-title {
  font-weight: bolder;
  font-size: 25px;
  padding-top: 20px;
  padding-left: 25px;
}

.card-container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  height: 300px;
  width: 750px;
}

.card-subcontainer {
  background: #8AC7DB;
  margin-top: 70px;
  margin-bottom: 20px;
  border-radius: 30px;
  width: 150px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffffff;
  padding-top: 10px;
}

.card-subcontainer:hover {
  background: #338BA8;
}

.line-break {
  width: 100%;
}

.card-subicon {
  padding-top: 10px;
  margin-bottom: 110px;
}

.medicine-name {
  padding-bottom: 10px;
  color: #1E5162;
  font-weight: bolder;
  font-size: 20px;
}

.medicine-qty {
  padding-left: 10px;
  margin-top: 15px;
}

.medicine-time {
  position: absolute;
  margin-top: 140px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.small-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 40px;
  width: 350px;
  background: #ffffff;
  height: 320px;
  border-radius: 30px;
}

.donutchart-container {
  position: absolute;
  display: flex;
  margin-top: 75px;
  margin-left: 65px;
  cursor: pointer;
}

.large-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 270px;
  margin-top: 20px;
  width: 100%;
  margin-right: 40px;
  background: #ffffff;
  height: 320px;
  border-radius: 30px;
}

.add-medicine {
  display: flex;
  margin-left: 380px;
  margin-top: 25px;
  height: 26px;
  padding: 3px;
}

.add-medicine-text {
  padding-left: 10px;
  color: #50C878;
}